<h1 class="c-headline c-headline--first" role="text">
	<strong class="c-headline__main">Activate Account</strong>
	{% assign title = 'customer.activate_account.title' | t %}
	{%- if title != blank -%}
		<span class="c-headline__sub">
			{{ title }}
		</span>
	{%- endif -%}
</h1>

<div class="container container--column container--small">

	{% form 'activate_customer_password' %}
	
		{{ form.errors | default_errors }}

		<div class="c-form-intro">
			<p class="c-form-intro__text">
				{{ 'customer.activate_account.subtext' | t }}
			</p>
		</div>
		
		<div id="password" class="c-form-item">
			<label for="customer_password" class="c-form-item__title">
				{{ 'customer.activate_account.password' | t }}
			</label>
			<input type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customer.activate_account.password' | t }}">
		</div>
		
		<div id="password_confirm" class="c-form-item">
			<label for="customer_password_confirmation" class="c-form-item__title">
				{{ 'customer.activate_account.password_confirm' | t }}
			</label>
			<input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
		</div>
		
		<p class="c-form-submit">
			<button class="c-button-action" type="submit">{{ 'customer.activate_account.submit' | t }}</button>
		</p>
		
		<p>
			<input type="submit" class="c-button-reset c-button" name="decline" id="customer_decline" value="{{ 'customer.activate_account.cancel' | t }}">
		</p>

	{% endform %}

</div>
