<h1 class="c-headline c-headline--first" role="text">
	<strong class="c-headline__main">{{ 'general.404.title' | t }}</strong>
</h1>

<div class="container container--column container--page">
	<h2 class="heading u-center">{{ 'general.404.heading' | t }}</h2>
	<p class="u-center">
		{{ 'general.404.text' | t }}
	</p>
	<p>
		<a href="{{ routes.root_url }}" class="c-button">
			<span>{{ 'general.404.button_label' | t }}</span>
		</a>
	</p>
</div>
