

<div class="container container--column container--page p-wait-container">

{% layout 'password' %}

	<div class="p-wait">

		<p class="p-wait__logo">
			<img src="{{ 'logo.svg' | asset_url }}" alt="Sonny Angel Official Online Store">
		</p>

		<p class="p-wait__title">
			{%- if request.locale.primary == true -%}
				{{ section.settings.wait_heading }}
			{%- else -%}
				{{ section.settings.wait_heading_diff }}
			{%- endif -%}
		</p>

		<div class="p-wait__body">
			{%- if request.locale.primary == true -%}
				{{ section.settings.wait_contents }}
			{%- else -%}
				{{ section.settings.wait_contents_diff }}
			{%- endif -%}
		</div>

	</div>

	<div class="p-password js-password" style="display: none;">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<span class="form">
				<input type="password" name="password" id="password" class="text-center" placeholder="{{ 'general.password.password_placeholder' | t }}">
			</span>
			<span class="text-center form">
				<input class="btn advanced btn auto-full-width" name="commit" type="submit" value="Submit">
			</span>
		{% endform %}
	</div>

</div>

<p class="p-wait-copyright">
	<a href="javascript:void(0);" class="js-pass-link">
		{% if shop.address.country_upper == 'JAPAN' %}
			Copyright &copy; Dreams Inc. All Rights Reserved.
		{% else %}
			Copyright &copy; Dreams Asia Ltd. All Rights Reserved.
		{% endif %}
	</a>
</p>

{% schema %}
{
	"name": "Password page",
	"settings": [
		{
			"type": "text",
			"id": "wait_heading",
			"label": "Heading ( Primary Locale )"
		},
		{
			"type": "text",
			"id": "wait_heading_diff",
			"label": "Heading ( Secondary Locale )"
		},
		{
			"type": "html",
			"id": "wait_contents",
			"label": "Contents ( Primary Locale )"
		},
		{
			"type": "html",
			"id": "wait_contents_diff",
			"label": "Contents ( Secondary Locale )"
		}
	]
}
{% endschema %}


